<a href="https://colab.research.google.com/github/Manojraj2711/Manoj_AI-ML-bootcamp/blob/main/Manoj_AI_ML_Bootcamp_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# operators

#arithmetic operators
print("arithmetic operators")
a=3
b=2

print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

arithmetic operators
5
1
6
9
1.5
1
1

In [ ]:
#comparison operators

a==b
a<<b
a>>b
a>=b
a<=b
a!=b

In [ ]:
#assignment operators
a=10
b=9

c=a+b
c-=a #=>c=c-a

In [ ]:
#logical operators
x=True
y=False
print("x and y is:",x and y)
print("x or y is",x or y)
print("x not y is",not y)

x and y is: False
x or y is True
x not y is True

In [ ]:
#bitwise operators
a=6 # 0000 0110
b=9 # 0000 1001

print(a&b) #and
print(a|b) #or
print(~a) #not
print(a^b) # XOR
print(a>>2) #right shift
print(a<<2) #left shift

0
15
-7
15
1
24

In [ ]:
#membership operator
x="hai guru"
print("u" in x) # checks the letter in word X''

True

In [ ]:
#identity operators
x1 = 3
y1 = 3
x2 = "me"
y2 = "me"
x3=[1,4,3]
y3=[1,4,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [ ]:
a=int(input("enter a number"))
print(a)

b=input("enter a string")
print(b)

enter a number6
6
enter a string9s
9s

In [ ]:
#strings

str = "manojraj"

#indexing
print(str[1])
print(str[0:7])
print(str[-4:-1])

#slicing
print(str[0:8:3])

#reverse a string
print(str[::-1])

#String methods
my_str="I am a Student"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())

#string operations

a
manojra
jra
moa
jarjonam
I AM A STUDENT
i am a student
i AM A sTUDENT

In [3]:
#string formats

name = "Manoj"
Language = "Python"

print(name,"is learning", Language, "programming")

#format
print("{} is learning {} programming".format(name,Language))

#placeholder '%'
print("%s is learning %s programming"%(name,Language))

#rawstring 'f'
print(f"{name} is learning {Language} programming")

Manoj is learning Python programming
Manoj is learning Python programming
Manoj is learning Python programming
Manoj is learning Python programming

In [9]:
#lists
my_list = [1,2,3,4]
my_list1 = [1,"hai","2.0",]
my_list2 = ["apple",'banana','cherry']

#indexing
print(my_list[0])
print(my_list1[-1])

#slicing
print(my_list1[0:4:2])

#nested list
N_list = ["fruit",my_list,my_list2]
print(N_list[2])
print(N_list[0][:6])

#List methods
my_list.append(5)
print(my_list)

l1=[5,3,19,12,42,4,2,5,24,24,77,8,57,46]
print(l1.count(24))
print(len(l1))
print(l1[::-1])

l1.reverse()
print(l1)

1
2.0
[1, '2.0']
['apple', 'banana', 'cherry']
fruit
[1, 2, 3, 4, 5]
2
14
[46, 57, 8, 77, 24, 24, 5, 2, 4, 42, 12, 19, 3, 5]
[46, 57, 8, 77, 24, 24, 5, 2, 4, 42, 12, 19, 3, 5]