<a href="https://colab.research.google.com/github/Manojraj2711/Manoj_AI-ML-bootcamp/blob/main/Manoj_AI_MLDay3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#tuples uses ( )
tup1=(1,2,3,4,9)
tup2=("hai",1,4,6,8)

N_tup=("hello",tup1,tup2)

print(N_tup[-1][3])

#tuple methods

print(tup1.count(1))
print(tup2.index(4))
print(max(tup1))

6
1
2
9

In [13]:
#sets

set1={1,2,3,4}
set2={13,9,"hai"}

l = [1,2,3,4,5]
print(l)
set3=set(l)
print(set3)

#set methods

set1.add(6)
print(set1)

set1.update([69,75])
print(set1)

set1.discard(75)
print(set1)

#set operations
a={1,2,3,8,9}
b={835,35,63,68,9}

#union
print(a|b)
print(a.union(b))
print(b.union(a))

#intersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))

#difference
print(a-b)
print(a.difference(b))
print(b-a)
print(b.difference(a))

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 69, 6, 75}
{1, 2, 3, 4, 69, 6}
{1, 2, 3, 835, 35, 68, 8, 9, 63}
{1, 2, 3, 835, 35, 68, 8, 9, 63}
{1, 2, 835, 35, 68, 3, 8, 9, 63}
{9}
{9}
{9}
{8, 1, 2, 3}
{8, 1, 2, 3}
{35, 835, 68, 63}
{35, 835, 68, 63}

In [15]:
#dictionaries
#Have keys and Values

my_dict = {'name':'Manoj',100:'centuries'}
print(my_dict.keys())
print(my_dict.values())
print(my_dict['name'])

dict_keys(['name', 100])
dict_values(['Manoj', 'centuries'])
Manoj